Repository SainsburyWellcomeCentre/aeon_experiments, pull requests merged in 2024-06, with the labels that each got.

#543 Add watchdog monitor for auto-restarting ephys workflows
  LICENSE
  bonsai/Bonsai.config
  workflows/ephys/Ephys-AEONX1.bonsai
  workflows/ephys/Ephys-AEONX1.bonsai.layout
  workflows/ephys/Ephys-AEONX1.cmd
  workflows/ephys/Extensions/Alerts.bonsai
  workflows/ephys/Extensions/HarpSyncTimeout.bonsai
  workflows/ephys/Extensions/StreamMonitor.bonsai
Labels: fix

#544 Add dummy patches and extra RFID readers
  workflows/social/Extensions/ControlPanel.bonsai
  workflows/social/Extensions/Declarations.bonsai
  workflows/social/Extensions/Logging.bonsai
  workflows/social/Social-AEON3.bonsai
  workflows/social/Social-AEON4.bonsai
Labels: hardware-install, bonsai-workflow, AEON3, AEON4

#545 Rearrange control panel layout to include dummy patch activity
  workflows/social/Extensions/ControlPanel.bonsai
  workflows/social/Extensions/EnvironmentLogic.bonsai
  workflows/social/Extensions/Visualization.bonsai
Labels: bonsai-workflow, AEON3, AEON4

#549 Add behavior for dummy patch
  workflows/social/EnvironmentEasy.yml
  workflows/social/EnvironmentExample.yml
  workflows/social/EnvironmentRandom.yml
  workflows/social/Extensions/EnvironmentLogic.bonsai
Labels: bonsai-workflow, AEON3, AEON4

#551 Fix timestamp errors and repetitions in Environment_SubjectVisits.csv
  workflows/social/Extensions/FormatRegionVisits.bonsai
Labels: bug, bonsai-workflow, AEON3, AEON4

#552 Add dynamic sampling of environment files
  workflows/social/Environments/.gitignore
  workflows/social/Environments/README.md
  workflows/social/ExampleEnvironment.yml
  workflows/social/Extensions/ControlPanel.bonsai
  workflows/social/Extensions/Environment.json
  workflows/social/Extensions/EnvironmentLogic.bonsai
  workflows/social/Extensions/LoadEnvironment.bonsai
  workflows/social/Extensions/Logging.bonsai
  workflows/social/Extensions/Social.Generated.cs
  workflows/social/Extensions/ValidateEnvironment.cs
  workflows/social/Social-AEON3.bonsai
  workflows/social/Social-AEON3.bonsai.layout
  workflows/social/Social-AEON4.bonsai
  workflows/social/Social-AEON4.bonsai.layout
Labels: feature, bonsai-workflow

#553 Fix ignored patch controller commands from control panel
  workflows/social/Extensions/ControlPanel.bonsai
Labels: bug, bonsai-workflow, AEON3, AEON4

#557 Add pose tracking address to log name
  workflows/social/Extensions/Logging.bonsai
Labels: fix

#559 Update to latest stable aeon packages
  bonsai/Bonsai.config
Labels: fix

#558 Avoid double assignment of patch parameters
  LICENSE
  bonsai/Bonsai.config
  workflows/social/Extensions/EnvironmentLogic.bonsai
Labels: bonsai-workflow, fix

#566 Update aeon acquisition and foraging packages
  bonsai/Bonsai.config
Labels: feature, fix

#565 Add a FLIR camera to monitor the lights in the room
  workflows/social/Extensions/AverageLightIntensity.bonsai
  workflows/social/Extensions/ControlPanel.bonsai
  workflows/social/Extensions/Declarations.bonsai
  workflows/social/Extensions/Logging.bonsai
  workflows/social/Social-AEON3.bonsai
  workflows/social/Social-AEON3.bonsai.layout
  workflows/social/Social-AEON4.bonsai
  workflows/social/Social-AEON4.bonsai.layout
Labels: hardware-install, bonsai-workflow, AEON3

#567 Avoid race conditions on patch state transition
  LICENSE
  bonsai/Bonsai.config
  workflows/social/Extensions.csproj
  workflows/social/Extensions/ActiveSubjectVisualizerBuilder.cs
  workflows/social/Extensions/EnvironmentLogic.bonsai
  workflows/social/Extensions/Logging.bonsai
Labels: feature, bonsai-workflow, fix

#568 Run and log online pose identity matching
  workflows/social/Extensions/ActiveSubjectPoses.bonsai
  workflows/social/Extensions/ActiveSubjectVisualizerBuilder.cs
  workflows/social/Extensions/ControlPanel.bonsai
  workflows/social/Extensions/GetActiveSubject.cs
  workflows/social/Extensions/Logging.bonsai
  workflows/social/Extensions/PoseTracking.bonsai
  workflows/social/Extensions/Visualization.bonsai
Labels: feature
