Repository SainsburyWellcomeCentre/aeon_experiments, pull requests merged in 2025-01, with the labels that each got.

#609 Port presocial workflow to latest infrastructure
  workflows/presocial/Calibrate-AEON3.bonsai
  workflows/presocial/Calibrate-AEON3.bonsai.layout
  workflows/presocial/Extensions/ActiveRegion.bonsai
  workflows/presocial/Extensions/AlertGate.bonsai
  workflows/presocial/Extensions/DroppedFrames.bonsai
  workflows/presocial/Extensions/FormatRegionVisits.bonsai
  workflows/presocial/Extensions/PersistentCounter.bonsai
  workflows/presocial/Extensions/TaskLogic.bonsai
  workflows/presocial/Phields-Presocial-AEON3.bonsai
  workflows/presocial/Phields-Presocial-AEON3.bonsai.layout
  workflows/presocial/SystemStartup-AEON3.bonsai
  workflows/presocial/SystemStartup-AEON3.bonsai.layout
  workflows/presocial/SystemStartup-AEON3.cmd
Labels: feature, bonsai-workflow, AEON3

#611 Fix presocial workflow onsite running issues
  workflows/presocial/Phields-Presocial-AEON3.bonsai
  workflows/presocial/Phields-Presocial-AEON4.bonsai
Labels: bonsai-workflow, AEON3, AEON4

#613 Remove zoom top cameras and update arena settings
  workflows/presocial/Config/ArenaMask-AEON3_2025-01-08.png
  workflows/presocial/Config/ArenaMask-AEON4_2025-01-08.png
  workflows/presocial/Phields-Presocial-AEON3.bonsai
  workflows/presocial/Phields-Presocial-AEON4.bonsai
Labels: hardware-install, bonsai-workflow, AEON3, AEON4, metadata
